* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background: #70e1f5; /* fallback for old browsers */
  background: linear-gradient(
    to right,
    #ffd194c5,
    #70e1f5a8
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  width: 380px;
  height: 425px;
  border-radius: 45px;
  background: rgba(253, 253, 253, 0.18);
  box-shadow: 0 8px 32px 0 rgba(119, 119, 122, 0.288);
  backdrop-filter: blur(2.25px);
  -webkit-backdrop-filter: blur(2.25px);
  animation: show 0.8s ease;
}
@keyframes show {
  0% {
    opacity: 0;
    margin-top: 25px;
  }
  100% {
    opacity: 1;
    margin-top: 0px;
  }
}

.photo {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  flex-wrap: wrap;
  width: 100%;
  height: 30%;
  margin-bottom: 45px;
}

.bio {
  display: flex;
  justify-content: center;
  position: relative;
  flex-wrap: wrap;
  width: 45%;
  bottom: 25px;
}
span:nth-child(1) {
  font-weight: 300;
  padding-bottom: 5px;
  position: relative;
}
span:nth-child(2) {
  font-weight: 200;
  font-size: 12px;
}
img {
  width: 115px;
  height: 115px;
  border-radius: 50%;
  margin-bottom: 5px;
  top: 0px;
}

.links {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  height: 35%;
  padding-top: 18px;

  img {
    display: flex;
    position: relative;
    width: 30px;
    height: 30px;
    margin-bottom: 25px;
    transition: 0.4s all;
  }
  img:hover {
    transform: scale(1.25);
    box-shadow: 0px -3px 14px 0px rgba(130, 148, 148, 0.49);
  }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
  .container {
    width: 340px;
    height: 367px;
  }
  .photo {
    display: flex;
    justify-content: center;
    margin-top: 15px;
  }

  .profile-photo {
    width: 95px;
    height: 95px;
  }
}
